{% extends 'main.html' %}

{% block title %}
    Profile
{% endblock title %}

{% block body %}
<div class="min-h-screen bg-gray-100">
    <!--Profile data container-->
    <div class=" border-2 border-emerald-200 rounded-md p-2 m-2 bg-emerald-500">
        <div class="grid grid-cols-2">
            <div class="text-xl grid items-center justify-center border-2 m-2">
                <div>Username: {{profile.user}}</div>
                <div>Active: {{profile.active}}</div>
                <div>Stars: {{profile.stars}}</div>
            </div>
            <img class="rounded-md" height="200px" width="200px" src="{{profile.image.url}}"/>
        </div>
        <div class="text-xl m-4 border-2 border-emerald-100 rounded-md text-center">Bio:  {{profile.bio}}</div>
    </div>
    <br>
    <!--Add skil/project offer-->
    <div class="grid grid-cols-2 text-center">
        <a href="{% url "skillCreate" %}" class="border-2 bg-yellow-300 border-yellow-200">Add a new Skill</a>
        <a href="{% url "projectCreate" %}" class="border-2 bg-blue-300 border-blue-200" >add a new Project</a>
    </div>
    <!--Skill User data-->
    <div class="bg-emerald-300 p-2 m-2 rounded-md">
        <div class="text-2xl text-center">
            Skills: 
        </div>
        <div class="grid lg:grid-cols-8 sm:grid-cols-2 md:grid-cols-3">
            {% for skill in skills %}
            <div class="border-2 bg-violet-400 border-violet-100 rounded-md p-2 m-1 grid grid-cols-2 gap-2">
                <div class="flex items-center justify-center text-center">{{skill.name}} </div>
                <a class="border-2 rounded-xl bg-red-500 border-red-900 m-2 hover:bg-orange-400 duration-150" href="{% url "skillDel" skill.pk%}"><center><i class="bi bi-x"></i></center></a>
            </div>
            {% endfor %}
        </div>
    </div>
    <!--Project User data-->
    <div class="grid grid-cols-1">
        <div class="text-3xl text-center border-2 border-emerald-300 m-2 rounded-md bg-emerald-200">
            Project offers:
        </div> 
        <div class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1">
            {% for project_offer in project_offers %}
            <div class="p-2 bg-emerald-500 border-2 border-emerald-200 rounded-md">
                <div class="m-2 border-2 rounded-md bg-emerald-100 min-h-80">
                    <h1 class="text-2xl text-center">{{project_offer.title}}</h1>
                    <div class="p-2 m-2 min-h-48">
                        <div class="text-center text-xl ">Description:</div>
                        {{project_offer.desc}}
                    </div>
                    <div class="text-center bg-emerald-700 text-white rounded-md">Price: {{project_offer.price}} $</div>
                    <div class="text-center">Done in {{project_offer.time_in_days}} days</div>
                    <div class="text-center">Number of revisions: {{project_offer.revisions}}</div>
                </div>
                <div class="min-h-40 grid items-center justify-center">
                    <center>
                        {% if project_offer.image %}
                            <img class="rounded-md" src="{{ project_offer.image.url }}" height="200px" width="200px">
                        {% else %}
                            <p>No image available</p>
                        {% endif %}
                    </center>
                </div>
                <div class=" mt-2 border-2 border-emerald-200 rounded-md grid grid-cols-2">
                    <a class="border-2 bg-red-500 p-1 rounded-md text-center" href="{% url "projectDel" project_offer.id %}">
                        Delete Project
                    </a>
                    <a class="border-2 bg-blue-500 p-1 rounded-md text-center" href="{% url "projectUpdate" project_offer.id %}">
                        Update Project
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock body %}
