{% extends 'main.html' %}

{% block title %}
Password reset complete
{% endblock title %}

{% block body %}
<div class="flex justify-center m-10">
    <div class="w-full max-w-lg bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h1 class="text-2xl font-bold text-center mb-4">Password reset complete!</h1>
        <p class="text-center">Your password has been set. You may go ahead and log in now.</p>
        <div class="flex items-center justify-center">
            <a href="{% url 'login' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Login</a>
        </div>
    </div>
</div>
{% endblock body %}