{% extends "main.html" %}

{% block body %}
<div class="w-full bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 text-center">
  <h2 class="text-3xl">Register</h2>
  <form method="post">
    {% csrf_token %}
    <div></div>
    {{ form.non_field_errors }}
    <div class="form-group">
        <div>{{form.first_name.label_tag}}</div>
        <div>{{form.first_name}}</div>
        <div>{{form.first_name.errors}}</div>
    </div>
    <div class="form-group">
      <div>{{form.last_name.label_tag}}</div>
      <div>{{form.last_name}}</div>
      <div>{{form.last_name.errors}}</div>
    </div>
    <div class="form-group">
      <div>{{ form.username.label_tag }}</div>
      <div>{{ form.username }}</div>
      <div>{{ form.username.errors }} </div>
    </div>
    <div class="form-group">
      <div>{{ form.email.label_tag }}</div>
      <div>{{ form.email }}</div>
      <div>{{ form.email.errors }} </div>
    </div>
    <div class="form-group">
      <div>{{ form.password1.label_tag }}</div>
      <div>{{ form.password1 }}</div>
      <div>{{ form.password1.errors }}</div>
    </div>
    <div class="form-group">
      <div>{{ form.password2.label_tag }}</div>
      <div>{{ form.password2 }}</div>
      <div>{{ form.password2.errors }}</div>
    </div>
    <button type="submit" class="border-emerald-950 border-2 m-2 bg-emerald-300 hover:bg-emerald-400 hover:pl-3 hover:pr-3 rouded-md pl-2 pr-2 text-2xl duration-150">Register</button>
  </form>
</div>
{% endblock %}