{% extends 'main.html' %}

{% block title %}
    Profile
{% endblock title %}

{% block body %}
<div class="min-h-screen bg-gray-100">
    <!--Profile data container (remove CRUD operationss)-->
    <div class=" border-2 border-emerald-200 rounded-md p-2 m-2 bg-emerald-500">
        <div class="grid grid-cols-2">
            <div class="text-xl grid items-center justify-center border-2 m-2">
                <div>Username: {{profile.user}}</div>
                <div>Active: {{profile.active}}</div>
                <div>Stars: {{profile.stars}}</div>
            </div>
            <div class="flex items-center justify-center text-center">
                {% if profile.image %}
                <img class="rounded-md" height="200px" width="200px" src="{{profile.image.url}}"/>
                {% else %}
                <h1>This recruiter has no image</h1>
                {% endif %}
            </div>
        </div>
        <div class="text-xl m-4 border-2 border-emerald-100 rounded-md text-center">
            Bio:  {{profile.bio}}
        </div>
    </div>
    <br>
    <div class="ml-2 mr-2 bg-emerald-100 p-4 flex items-center justify-center text-center">
        <a href="{% url "messageWithOther" pk1=request.user.pk pk2=profile.user.pk %}" class="border-2 pr-4 pl-4 p-2 rounded-md w-2/4 border-emerald-600 bg-emerald-200 hover:bg-emerald-950 hover:text-white">
            Chat with Recruiter
        </a>
    </div>
    <br>
    <!--Project User data-->
    <div class="grid grid-cols-1">
        <div class="text-3xl text-center border-2 border-emerald-300 m-2 rounded-md bg-emerald-200">
            Project offers:
        </div> 
        <div class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1">
            {% for project_offer in project_offers %}
            <div class="p-2 bg-emerald-500 border-2 h-auto border-emerald-200 rounded-md">
                <div class="m-2 border-2 rounded-md bg-emerald-100 min-h-80">
                    <h1 class="text-2xl text-center m-2 border-2 border-emerald-200 rounded-md bg-emerald-400">{{project_offer.title}}</h1>
                    <div class="p-2 m-2 min-h-64 flex items-center justify-center text-left">
                        {{project_offer.desc}}
                    </div>
                    <!--Mejorar condicional para mejor visualizacion-->
                    <div class="grid sm:grid-cols-1 md:grid-cols-2 border-2 border-emerald-200 rounded-md m-2 text-center">
                        <div>{{project_offer.catOne}}</div>
                        {% if project_offer.catTwo != 'OTHER' %}
                        <div>{{ project_offer.catTwo }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="flex items-center justify-center text-center">
                    <a class="border-2 rounded-md w-2/4 bg-emerald-200 border-emerald-600 hover:bg-emerald-700 hover:text-white duration-200">Ask to join the project</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock body %}
